# Dependencies
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store

# Testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Expo
.expo-shared/

# Temporary files
*.log
*.tmp
.env.env
